DEBUG=False

MONITOR=False #Monitor for newly added files in the folders specified in TRANSCRIBE_FOLDERS
USE_WEBHOOKS=False #Enables or disables running of the webhook server
USE_TASK_QUEUE_FILE=False #Usage of task queue file. Loaded on start of program and saved on exit. Used to store tasks that are not yet processed. Usefull for when restarting the program without losing the task queue.
SKIP_LIST_FILE_NAME=skip_list.txt #A file with all the files that should be skipped. One file per line. The file should be in the same directory as the program. A file is added when it is skipped. If not set will not use a skip list file.

USE_PATH_MAPPING=False #Usefull when the media is stored on a different path than the path that is monitored and not using a docker container.
PATH_MAPPING_TO=/mnt/media-server/data/media
PATH_MAPPING_FROM=/data/media

TRANSCRIBE_FOLDERS=/mnt/media-server/data/media/movies/|/other/path #Folders to transcribe (separated by |) and the path for monitoring if MONITOR is set to True  


# Subtitle modifications
NAMESUBLANG= #If want to hardcode the language for the subtitle filename. Better to just set it in the tags instead 
SUBTITLE_LANGUAGE_NAMING_TYPE=ISO_639_2_B #ISO_639_1, ISO_639_2_T, ISO_639_2_B, NAME or NATIVE
APPEND=False #Adds a message to the subtitle 
# tags for the filename of the subtitle between the movie namen and extensions eg: movie (2025).subgen.streaming.medium.hilite.eng.default.mp4
SUBTITLE_TAGS=subgen|SHOULD_STREAM_SUBTITLE:streaming|WHISPER_MODEL|WORD_LEVEL_HIGHLIGHT:hilite|LANGUAGE|default 
SUBTITLE_TAG_DELIMITER=. 

# FORCE_DETECTED_LANGUAGE_TO=fre  #Use this if you know your media is in a certain language but the detection is wrong. This will force the language to the specified language.
SHOULD_WHISPER_DETECT_AUDIO_LANGUAGE=True #If set to True it will use whisper to detect the audio language. Before transcribing. Usefull for when the language is not set in the media file.
DETECT_LANGUAGE_LENGTH=600 #Time in seconds to detect the language. Should use a multiple of 30 seconds (the segment duration)
DETECT_LANGUAGE_START_OFFSET=120 #Option to start the detection at a certain offset in the media. Often intros don't have dialogue and can be skipped.

DETECT_LANGUAGE_IN_FILENAME=True #Detects the language in the filename of the media. Some file might look like this: movie (2025).SPANISH.BluRay.1080p.x264.mp4 

PREFERRED_AUDIO_LANGUAGES=spa|dut #list of languages separated by |. In order of preference. Intends on using these languages to transcribe to if present.

# Skipping options
LIMIT_TO_PREFERRED_AUDIO_LANGUAGE=True #If set to True it will only transcribe if the audio language is in the PREFERRED_AUDIO_LANGUAGES list
ASSUME_NO_LANGUAGE_IN_SUBTITLE_IS_AUDIO_LANGUAGE=False 
ASSUME_DEFAULT_IN_SUBTITLE_IS_AUDIO_LANGUAGE=False 

SKIP_UNKNOWN_LANGUAGE=True #If language could not be detected it will not start a transcription
SKIP_IF_TO_TRANSCRIBE_SUB_ALREADY_EXIST=True #Skips if subtitles already exist for the determined audio language to transcribe
SKIP_IF_PREFERRED_AUDIO_LANGUAGE_SUB_ALREADY_EXIST=False #Skips if subtitles in the preferred language already exist

ONLY_SKIP_IF_SUBGEN_SUBTITLE=True #If set to true will only skip if the subtitle is generated by subgen. Marked by subgen in the filename of a subtitle

SKIPIFEXTERNALSUB=False

SKIP_IF_LANGUAGE_IS_NOT_SET_BUT_SUBTITLES_EXIST=False #If set to True it will skip if the language is unknown but subtitles exist.
SKIP_IF_LANGUAGE_IS_NOT_SET_BUT_SUBTITLES_EXIST_IN_PREFERRED_LANGUAGE=False #if set to True will skip if the language is unknown but subtitles exist in a preferred language

IGNORE_FOLDERS=trailers|featurettes|extras|clips|shorts|other|samples|Name of a series #List of folders to ignore separated by |.
IGNORE_FILES=sample|trailer|theme|scene|clip|featurette|short|deleted|behindthescenes #List of files to ignore separated by |.

# Whisper
WHISPER_THREADS=4 #the amount of threads to use for one transcription
CONCURRENT_TRANSCRIPTIONS=1 #the amount of transcriptions to run at the same time
TRANSCRIBE_DEVICE=cpu
WHISPER_MODEL=base 
CLEAR_VRAM_ON_COMPLETE=False

USE_MODEL_PROMPT=False

WORD_LEVEL_HIGHLIGHT=True #Highlights the words in the subtitle with a color
WORD_HIGHLIGHT_COLOR=FFC107 #Color of the word highlight in hex without the #. If not set will be green. this is a yellow gold color


TRANSCRIBE_OR_TRANSLATE=transcribe #if set to transcribe it will output the transcripition in the audio language. If set to translate it will output the translation in English.
# Webhooks
WEBHOOKPORT=9000

# Jellyfin
PROCMEDIAONPLAY=True
JELLYFINTOKEN= #Token for the Jellyfin server
JELLYFINSERVER= #URL for the Jellyfin server

# Streaming subtitles (in chunks)
SHOULD_STREAM_SUBTITLE=True #If set to True it will stream the subtitles in chunks. This will make it possible to watch the movie with subtitles while it is being transcribed. The only issue is that players don't reload the subtitle file while playing. 
TRANSCRIBE_OFFSET_SECONDS=10 #The amount of seconds to skip ahead in the media to start the transcription. This is to avoid intros and other non-dialogue parts.
SEGMENT_DURATION=300 # The duration of a chunk when straming subtitles. It will update the subtitle after each chunk.



